MAINICON ICON "icon.ico"
0 RCDATA "LemnosLife - MAJ.exe"
1 RCDATA "libcurl-x64.dll"
2 RCDATA "libfreetype-6.dll"
3 RCDATA "SDL2.dll"
4 RCDATA "SDL2_image.dll"
5 RCDATA "SDL2_ttf.dll"
6 RCDATA "libgcc_s_seh-1.dll"
7 RCDATA "zlib1.dll"
8 RCDATA "arial.ttf"
9 RCDATA "background.jpg"
10 RCDATA "libwinpthread-1.dll"
11 RCDATA "libstdc++-6.dll"

